
.d-block {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-fluid {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption h1 {
    color: white;
    font-style: bold;
    font-size: 42;
}



p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: "bold";
    font-size: "24";
}

h2 {
    text-align: center;
}

.col-md-6 {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.col-md-5 {
    padding: 40px 50px 40px 50px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



#publications {
    background-image: linear-gradient(rgba(0,0.8,0.8, 0.8), rgba(0, 0.8, 0.8, 0.8)), url(img2k2.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#publications h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}



#publications h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.portfolio-row {
    margin: 30px 30px 30px 30px;
}

.text-center {
    text-align: center!important;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.title-linkk {
    color: #2FDEDB;
}

.project-des {
    font-size: 14px;
    min-height: 62px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.p-0 {
    padding: 0!important;
}

.container {
    min-height: 100%;
    min-width: 100%;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.d-block {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img1.jpg);
}


.img-responsive {
    width: 85%;
    height: 300px;
    border: 2px solid black;
    padding: 5px 5px 5px 5px;
}

.portfolio-btn {
    margin: 10px 0 10px 0;
    background-color: #2FDEDB;
    color: #FFFFFF;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    /* Green */
}

.button {
    border-radius: 0!important;
    color: #2FDEDB;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: white;
}

.button {
    transition-duration: 0.4s;
    color: blue;
}

.button:hover {
    background-color: #00008B;
    /* Green */
    color: white;
}

.button {
    margin: 10px 0 10px 0;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #2FDEDB;
    border-radius: 0!important;
    width: 100px;
}

.abc {
    margin-right: auto!important;
}

@media only screen and (max-width: 300px) {
            #slider {
                height: 50vh !important;
            }
        } 

.carousel img,
.img-fluid,
.d-block {
            width: 100% !important;
            min-width: 100% !important;
            height: 100% !important;
            min-height: 100% !important;
            height: auto;
        } 


        .section-padding {
            padding: 60px 0px;
        }
        article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
            display: block;
        }

        *, ::after, ::before {
            box-sizing: border-box;
        }
        user agent stylesheet
        section {
            display: block;
        }

        .col-sm-12{
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        

.inner-container {
    transition: 0.3s ease;
    background: #ffffff;
}
.project-container {
    height: 500px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}


element.style {
    visibility: visible;
    animation-delay: 0.7s;
    animation-name: fadeInLeft;
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
@media (min-width: 576px)
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.inner-container {
    transition: 0.3s ease;
    background: #ffffff;
}
.project-container {
    height: 500px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.project-column-image-container {
    height: 180px;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 576px)
.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}

@media (min-width: 576px)
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}

